$vinopoly-gray-black:       #161616;
$vinopoly-gray-lightest:    #f6f6f6;
$vinopoly-gray-lighter:     #e3e3e3;
$vinopoly-gray-light:       #999;
$vinopoly-gray:             #666;
$vinopoly-gray-dark:        #333;
$vinopoly-gray-darkest:     $vinopoly-gray-black;

$primary-green-lightest:    #98d28e;
$primary-green-light:       #65af59;
$primary-green:             #3e8d31;
$primary-green-dark:        #216c15;
$primary-green-darkest:     #0b4802;

$secondary-blue-lightest:   #6b9e99;
$secondary-blue-light:      #43837c;
$secondary-blue:            #256a63;
$secondary-blue-dark:       #10514a;
$secondary-blue-darkest:    #013631;

$secondary-green-lightest:  #d8efa2;
$secondary-green-light:     #aac766;
$secondary-green:           #81a038;
$secondary-green-dark:      #5d7a18;
$secondary-green-darkest:   #3a5202;

$secondary-brown-lightest:  #f2c39f;
$secondary-brown-light:     #ce9367;
$secondary-brown:           #aa6a3b;
$secondary-brown-dark:      #854719;
$secondary-brown-darkest:   #612b03;

$complement-red-lightest:   #f8a8ad;
$complement-red-light:      #ce6971;
$complement-red:            #a63a42;
$complement-red-dark:       #7f1820;
$complement-red-darkest:    #550208;